# Dynamically generated based on CPUSETS parameter.
# See:
# docker-compose/cluster/generate-docker-compose-file.sh
# docker-compose/crossdc/generate-docker-compose-file.sh
#
docker-compose-cluster.yml
docker-compose-crossdc.yml
provisioned-system.properties